.error {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #545050;
}

.error__title {
  color: hsl(0, 0%, 100%);
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}
