*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0;
}

.search-form__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__label_checkbox .search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield {
  width: 225px;
  height: 27px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #ffffff;
  color: inherit;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/* Хак, чтобы победить изменение цвета поля при автозаполнении */
.search-form__textfield:-webkit-autofill,
.search-form__textfield:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.search-form__textfield:focus {
  outline: none;
  background-color: transparent;
}

.search-form__textfield:focus-visible {
  outline: none;
  background-color: transparent;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #fff;
}

.button {
  padding: 6px 0;
  border: 1px solid #fff;
  color: #ffffff;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  align-self: flex-end;
  padding-left: 73px;
  padding-right: 73px;
}

.title {
  margin-bottom: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  width: 399px;
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__card-link:hover .content__video-card-title {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
}

.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: flex-start;
  color: #fff;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: 100%;
}

.content__video-card-title {
  color: #ffffff;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  margin-top: 6px;
  color: #ffffff;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16px;
  line-clamp: 1;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}
